body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
}
#u104 {
  position:absolute;
  left:2px;
  top:32px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:66px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  height:66px;
}
#u106 {
  position:absolute;
  left:2px;
  top:25px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000CC;
}
#u107 {
  position:absolute;
  left:317px;
  top:36px;
  width:65px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0000CC;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u109 {
  position:absolute;
  left:1192px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u111 {
  position:absolute;
  left:1237px;
  top:27px;
  width:25px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:734px;
}
#u113 {
  position:absolute;
  left:0px;
  top:80px;
  width:1280px;
  height:734px;
}
#u114 {
  position:absolute;
  left:2px;
  top:359px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:199px;
}
#u115 {
  position:absolute;
  left:2px;
  top:811px;
  width:1278px;
  height:199px;
}
#u116 {
  position:absolute;
  left:2px;
  top:92px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
